@page
@model IndexModel
@{
    ViewData["Title"] = "";
}


<div class="row justify-content-evenly gap-5">

            <div class="card my-2 p-2 " style="width: 20em; background: whitesmoke;">
            <div>
            <img class="card-img-top rounded-2" src="~/css/image/sommer&solimg.jpg" alt="Card Image" style="width: 100%; height: 14em; justify-content: center;" />
                    <div class="card-subtitle my-2">
                            <h2>#lokation</h2>
                            <h3>#Pris</h3>
                    </div>
                    <div class="card-body text-black">
                            <ul>
                                <li>Beskrivelse:</li>
                                <p>#beskrivelse</p>
                            </ul>
                            <div class="d-flex justify-content-around text-white">
                            <a class="btn btn-outline-dark" style="background: #DEE50F; border: 2px dimgrey; width: 50%;">BESTIL</a>
                            </div>
                        </div>
                    </div>
            </div>

</div>