@page
@model SommerhusHjemmeside.Pages.UserSite.LogInModel
@{
    ViewData["Title"] = "Log In";
}



<body class="body">
    <div class="wrapper">
        <div class="loginbox">
            <div class="login-header">
                <span class="gradient-text">
                    Login
                </span>
            </div>

            <form method="post">
                <div class="input_box">
                    <label for="username" class="label">Email</label>
                    <input type="text" id="username" class="input-field" placeholder="Email" required asp-for="@Model.Email" />
                    <i class="bx bx-lock-alt icon"></i>
                    <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span>
                </div>

                <div class="input_box">
                    <label for="password" class="label">Password</label>
                    <input type="password" id="password" class="input-field" placeholder="Password" required asp-for="@Model.Password" />
                    <i class="bx bx-lock-alt icon"></i>
                    <span class="text-danger">@Html.ValidationMessageFor(model => model.Password)</span>
                </div>

                <div class="remember-forgot">
                    <div class="remember-me">
                        <input type="checkbox" id="remember" />
                        <label for="remember">Remember Me</label>
                    </div>
                    <div class="forgot">
                        <a href="#">Forgot Password</a>
                    </div>
                </div>
                <div class="NewProfile">
                    <a asp-page="/UserSite/Create">Create New Profile</a>
                </div>

                <div class="input_box">
                    <input type="submit" class="input-submit" value="Login" />
                </div>
            </form>
        </div>
    </div>
</body>
