@page
@model SommerhusHjemmeside.Pages.SommerHouse.GreateSommerHouseModel
@{
    ViewData["Title"] = "Create New Rental";
}

<div class="row my-2 p-2 d-flex flex-wrap" style="width: 100%; background-color: whitesmoke; border: solid 2px #2082B0; border-radius: 20px 20px 20px 20px;">
    <div class="col-12 row d-flex justify-content-center">
        <h4 class="d-flex justify-content-center">Sommerhus Preview Card</h4>
        <div class="card my-2 p-2" style="width: 20em; height: 32em; background: whitesmoke;">
            <div>
                <div class="col-12 justify-content-center">
                    <img id="uploadedImage" src="#" alt="Uploaded Image" class="card-img-top rounded-2" style="width: 100%; height: 14em; justify-content: center;">
                    
                </div>
                <div class="card-subtitle my-2">
                    <h2 class=" " style="max-width: 100%; max-height: 30px;" id="outputLocation"></h2>
                    <div class="row">
                        <div class="col-9 d-grid">
                        <h4 style="width: 100%; font-size: 22px;" id="outputPrice"></h4>
                        </div>
                        <div class="col-3 d-grid d-inline-flex">
                            <div class="col-3 d-grid align-content-around justify-content-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
                            </svg>
                            </div>
                            <div class="col-9 d-grid">
                                <h4 id="outputSleepPlace"></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body text-black">
                    <h5>Beskrivelse:</h5>
                    <p id="outputText" style="width: 100%; height: 80px; overflow-y: scroll;"></p>
                    <div class="d-flex justify-content-around text-white">
                        <a class="btn btn-outline-dark rounded-pill" style="background: #DEE50F; border: 2px dimgrey; width: 50%; position: absolute; bottom: 10px;">BESTIL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 row d-flex flex-wrap" style="padding-top: 15px;">
        <h4 class=" d-flex justify-content-center">Sommer Hus Lokation</h4>
        <div class="col-8">
            <input id="inputCity" placeholder="By" class="form-control" oninput="displayLocation()" /><br />
        </div>
        <div class="col-4">
            <input id="inputPostalcode" placeholder="Postnummer" oninput="displayLocation()" class="form-control" /><br />
        </div>
        <div class="col-6">
            <input class="form-control" placeholder="Vej Navn"/><br />
        </div>
        <div class="col-3">
            <input class="form-control" placeholder="Vej Nr." /><br />
        </div>
        <div class="col-3">
            <input class="form-control" placeholder="Etage"/><br />
        </div>
        <div class="row d-flex">
            <div class="col-6">
                <h4 class="d-flex justify-content-center">Pris Pr. Dag</h4>
                <div class="col-12" style="margin-top: 32px;">
                    <input class="form-control" placeholder="Pris Pr. Dag" type="number" id="inputPrice" oninput="displayPrice()" /><br />
                </div>
                <h4 class="d-flex justify-content-center" style="margin-top: 10px;">Beskrivelse</h4>
                <div class="col-12">
                    <input class="form-control" placeholder="Beskrivelse" id="inputText" type="text" oninput="displayText()" /><br />
                </div>
                <h4 class="d-flex justify-content-center">Indsæt Billede Fil</h4>
                <div class="col-12">
                    <input class="card-img-top rounded-2" style="width: 100%; justify-content: center;" type="file" id="imageInput" onchange="displayImage(this)" />
                </div>
            </div>
            <div class="col-6 flex-column">
                <h4 class="d-grid justify-content-center" >Udlejnings Periode</h4>
                <div class="col-12">
                    <label>Dato Fra</label><br/>
                    <input type="date" class="form-control" name="fromDate"><br/>
                </div>
                <h4 class="d-gridjustify-content-center"></h4>
                <div class="col-12">
                    <label>Dato Til</label><br/>
                    <input type="date" class="form-control" name="toDate"><br/>
                </div>
                <h4 class="d-grid justify-content-center">Antal Sove Pladser</h4>
                <div class="col-12">
                    <input class="form-control" placeholder="Antal sove pladser" id="inputSleepPlace" type="number" oninput="displaySleepPlaces()"><br />

                </div>
            </div>
        </div>
    </div>
</div>



<script>
    function displayImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('uploadedImage').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<script>
    function displayText() {
        var inputText = document.getElementById("inputText").value;

        var outputElement = document.getElementById("outputText");

        outputElement.innerHTML = inputText;
    }
</script>

<script>
    function displaySleepPlaces() {
        var inputSleepPlace = parseInt(document.getElementById("inputSleepPlace").value);

        var outputElement = document.getElementById("outputSleepPlace");

        outputElement.textContent = inputSleepPlace;
    }
</script>

<script>
    function displayLocation() {
        var city = document.getElementById("inputCity").value;
        var postalCode = document.getElementById("inputPostalcode").value;

        var outputElement = document.getElementById("outputLocation");

        outputElement.textContent = postalCode + " " + city;
    }
</script>

<script>
    function displayPrice() {
        var inputPrice = parseFloat(document.getElementById("inputPrice").value);

        var outputElement = document.getElementById("outputPrice");

        outputElement.textContent = "Kr. " + inputPrice.toFixed(2) + " Pr. Dag";
    }
</script>